*{
    padding: 0;
    margin: 0;
}
body{
    background-image:url(../img/bg.png);
    background-size: cover;
    width: 100%;
}
.wrapper{
    background: white;
    margin-left: 150px;
    margin-right: 130px;
    width: 1000px;
}
.header{
    width: 1000px;
    height: 237px;
    margin: 0 auto;
    clear: both;
}
/*.asia{*/
    /*width: 280px;*/
    /*height: 160px;*/
    /*background: url(../img/asia.png) no-repeat;*/
    /*padding-top: 73px;*/
    /*padding-left: 30px;*/
/*}*/
.asia p{
    float: left;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    color: #71aec1;
    display: block;
    width: 280px;
    height: 160px;
    text-align: center;
    background: url(../img/asia.png) no-repeat;
    padding-top: 85px;
    /*padding-left: 30px;*/
}