*{
    padding: 0;
    margin: 0;
}
body{
    background-image:url(../img/bg.png);
    background-size: cover;
    width: 100%;
}
.wrapper{
    background: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}
.header{
    width: 1000px;
    height: 237px;
    margin: 0 auto;
}
.asia p{
    float: left;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    color: #71aec1;
    display: block;
    width: 280px;
    height: 65px;
    text-align: center;
    background: url(../img/asia.png) no-repeat;
    padding-top: 100px;
    margin: 72px 30px 0;
}
.text{
    float: right;
     padding: 10px 30px;
}
.text span{
    font-family: Regular, Tahoma,sans-serif;
    display: block;
    line-height: 27px;
    color: #4ea8bd;
}
.text .mail a{
    text-decoration: none;
    color: #4ea8bd;
}
.main{
    font-weight: bold;
}
.flags{
    float: right;
    position: relative;
    overflow: hidden;
    height: 72px;
    /*width: 335px;*/
    padding: 30px 35px 5px 0;
}
.countries li{
    float: left;
    list-style: none;
    text-align: center;
    padding: 10px 0;
}
.countries li a{
    font-family: Tahoma, Aeial, sans-serif;
    font-size: 10px;
    color: #90c8d6;
    display: block;
    padding:0 16px;
    line-height: 20px;
}

.content{
    clear: both;
}
.positions{
    width: 1000px;
    float: left;
}
.menu{
    list-style: none;
    display: block;
}
