*{
    margin: 0;
    padding: 0;
}
.wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 910px;
    height: 1295px;
    position: relative;
    font-family: LucidaSansUnicode ,Arial,  sans-serif;
}
header{
    padding-top: 15px;
    width: 100%;
    clear: both;
    position: relative;
    overflow: hidden;
}
.phone{
    width: auto;
    float: left;
    /*margin-left: -7px;*/
}
.phone img{
    float: left;
    height: 20px;
    width: 21px;
}
.phone span.num{
    padding-left: 1px;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 19px;
    color: #5e696d;
}
.login{
    margin-left: 18px;
    margin-top: -3px;
    float: left;
    width: 495px;
    height: 26px;
    background: linear-gradient(to bottom, #1f6685, #0e395e);
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}
.login form{
    float: left;
    width: 278px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 1px;
    background-image: url(../img/logo.png);
    background-position: 7px 3px;
    background-repeat:no-repeat;
}
.login form input{
    float: left;
    width: 112px;
    height: 15px;
    border: 1px solid #82949c;
    margin-left: 7px;
    margin-top: 1px;
}
.login input::-webkit-input-placeholder{
    padding: 0 4px;
}
button.enter{
    float: right;
    background: none;
    border: none;
    color: white;
    height: 20px;
    font-size: 10.91px;
    width: 31px;
}
.login span{
    color: white;
    font-size: 11px;
}
a.reg{
    color: white;
    font-size: 10.91px;
    text-decoration: none;
    margin-left: -4px;
    font-family: Lucida Sans Unicode, Arial, sans-serif;
}
.enter{
    font-family: Lucida Sans Unicode, Arial, sans-serif;
}
a.forgot{
    text-decoration: underline;
    font-size: 12px;
    color: #b3b7b9;
    padding-left: 22px;
}
.mini{
    float: right;
    margin: -3px -1px 0 10px;
    height: 35px;
    width: 94px;
    background-image: url(../img/mini.png);
    background-repeat:no-repeat;
}
.mini_l_img {
    float: left;
    display: block;
    width: 12px;
    height: 14px;
    padding-top: 3px;
    margin-left: 8px;
    background: url("../img/home.png") no-repeat;
    background-position: left;
    cursor: pointer;
}
.mini a{
    position: relative;
    display: block;
    width: 12px;
    height: 14px;
}
.mini_c_img {
    float: left;
    display: block;
    background: url("../img/map.png") no-repeat;
    background-position: center;
    width: 24px;
    height: 14px;
    padding-left: 9px;
    padding-top: 3px;
    cursor: pointer;
}
.mini_r_img {
    float: left;
    display: block;
    background: url("../img/mail.png") no-repeat;
    background-position: center;
    width: 12px;
    height: 14px;
    padding-top: 3px;
    cursor: pointer;
}
.foto{
    float: left;
    width: 908px;
    height: 237px;
    background: url(../img/foto.png) no-repeat;
}
.foto a{
    display: block;
    margin: 100px 0 0 2px;
    width: 266px;
    height: 70px;
}
main{
    width: 100%;
    position: relative;
    padding-top: 6px;
}
nav{
    position: relative;
    overflow: hidden;
    width: 100%;
    background: linear-gradient(to bottom, #4d5663, #050506);
    border-radius: 4px;
    box-shadow: 2px 4px 4px 0px rgba(0,0,0,0.75);
}
ul.mainMenu li{
    float: left;
    list-style: none;
}
.mainMenu li a{
    font-family: Lucida Sans Unicode, Arial, sans-serif;
    text-decoration: none;
    display: block;
    font-size: 13.64px;
    line-height: 33px;
    padding: 0 17px;
    color: #b1bcc0;
}
.mainMenu li a:hover{
    background: linear-gradient(to bottom, #1f6787, #0d365a);
    color: #ffffff;
    border-radius: 16px;
}
ul.mainMenu li:first-child{
    padding-left: 109px;
}
.box{
    display: block;
    float: right;
    padding-right: 29px;
}
nav span{
    padding: 0 5px;
    float: left;
    font-size: 11px;
    color: #6b7275;
    line-height: 32px;
}
span.color{
    color: #0f4c77;
}
.box a{
    display: block;
    width: 25px;
    height: 20px;
    float: left;
    padding-top: 10px;
    background: url("../img/box.png") no-repeat;
    background-position-y: 8px;
}
.blocks{
    width: 100%;
    height: 130px;
    padding-top: 13px;

}
.left_block{
    width: 413px;
    height: 130px;
    border: 1px solid #bebdbc;
    border-radius: 20px;
    float: left;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}
.center{
    width: 190px;
    height: 130px;
    border: 1px solid #bebdbc;
    border-radius: 20px;
    float: left;
    margin-left: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}
.right{
    width: 266px;
    height: 130px;
    float: left;
    border: 1px solid #bebdbc;
    border-radius: 20px;
    margin-left: 11px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}
.content{
    width: 100%;
}
.left{
    width: 180px;
    float: left;
    padding-top: 20px;

}
.left p.catalog{
    font-size: 12px;
    display: block;
    width: 155px;
    margin-left: -9px;
    height: 27px;
    padding: 7px 0 0 30px;
    background: url("../img/product.png") no-repeat;
}
p.tyres{
    font-size: 12px;
    display: block;
    width: 150px;
    margin-left: -9px;
    height: 20px;
    padding: 14px 0 0 32px;
    background: url("../img/tyres.png") no-repeat;
    background-position: 0 6px;
}
.left a{
    display: block;
    width: 113px;
    height: 13px;
    padding: 0 0 0 12px;
    margin: 10px 0 0 28px;
    font-size: 12px;
    text-decoration: none;
    color: #465961;
    background: url("../img/point.png") no-repeat;
    background-position-y: 4px;
}
.left a:hover{
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
}
p.discs,
p.bolts{
    font-size: 12px;
    display: block;
    width: 150px;
    height: 23px;
    padding: 14px 0 0 32px;
    margin-left: -7px;
    background: url("../img/tyres.png") no-repeat;
    background-position: 0 6px;
}
.products{
    width: 526px;
    height: auto;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    background: linear-gradient( to bottom, #e4e6e8, #93a7b0);
}
.l_item
{
    float: left;
    width: 140px;
    height: 180px;
    text-align: center;
    margin: 9px 15px;
}
.c_item{
    float: left;
    width: 140px;
    height: 180px;
    text-align: center;
    margin: 9px 15px;
}
.r_item{
    float: left;
    width: 140px;
    height: 180px;
    text-align: center;
    margin: 11px 16px;
}
p.l_item_name,
p.c_item_name,
p.r_item_name{
    color: #206988;
    font-size: 15px;
}
.l_item_model,
.c_item_model,
.r_item_model{
    height: 17px;
    font-size: 12px;
}
.l_image,
.c_image,
.r_image{
    text-align: center;
    display: table;
    width: 140px;
    height: 129px;
    background: url("../img/white.png") no-repeat;
}
.l_image a,
.c_image a,
.r_image a{
    height: 123px;
}
.l_image img,
.c_image img,
.r_image img{
    padding-top: 4px;
}
p.price{
    margin-left: 6px;
    color: #114165;
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
}
.right_content{
    float: left;
    width: 180px;
    height: auto;
    padding-top: 20px;
}
.right_content .brands{
    font-size: 12px;
    display: block;
    width: 155px;
    height: 27px;
    padding: 5px 0 0 33px;
    background: url("../img/product.png") no-repeat;
    margin-left: 1px;
}
.tyres_r {
    font-size: 12px;
    display: block;
    width: 150px;
    height: 24px;
    padding: 15px 0 0 33px;
    background: url("../img/tyres_r.png") no-repeat;
    background-position: 0 6px;
    margin-left: 16px;
}
.discs_r{
    font-size: 12px;
    display: block;
    width: 150px;
    height: 30px;
    padding: 14px 0 0 32px;
    background: url("../img/tyres_r.png") no-repeat;
    background-position: 0 6px;
    margin-left: 16px;
}
.right_content form input{
    float: left;
    margin-left: 26px;
    margin-top: 5px;


}
.right_content label{
    font-size: 12px;
    padding-left: 15px;
    color: #5f6f76;
}
.right_content form{
    height: 76px;
}
.brand_1,
.brand_2,
.brand_3,
.brand_4,
.brand_5,
.brand_6{
    margin-top: 1px;
    margin-bottom: 6px;
}
button.r_form{
    height: 28px;
    width: 80px;
    background: linear-gradient(to bottom, #1e6383, #0e385d);
    color: #e5e9ea;
    border: none;
    border-radius: 8px;
    margin-left: 28px;
    margin-top: 9px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);

}
.logo img{
    width: 675px;
    padding-top: 56px;
    padding-left: 110px;
}
footer {
    margin-top: 23px;
    width: 100%;
    height: 100px;
    text-align: center;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background: #213a4d;
    position: relative;

}
footer ul li{
    float: left;
    list-style: none;
    padding-top: 8px;
}
footer a{
    text-decoration: none;
    padding: 0 14px;
    display: block;
    color: #bec6c9;
    font-size: 12px;
}
footer a.comp{
    padding-left: 300px;
}
footer li a{
    border-right: 1px solid #8d989f;
}
footer li a.last{
    border: none;
}
footer a:hover{
    color: #4d9fbd;
}
footer p{
    display: block;
    padding-top: 35px;
    padding-right: 23px;
    text-align: center;
    font-size: 11px;
    color: #7f4740;
}