*{
    margin: 0;
    padding: 0;
}
.quest h3{
    text-align: center;
}
.quest ul{
    padding-left: 40px;
    list-style: none;
    line-height: 25px;
    height: 50px;
}
.sub{
    margin-top: 20px;
    margin-left: 100px;
}
.sub button{
    border: 1px solid wheat;
    border-radius: 8px;
    background-color: cadetblue;
    color: white;
    width: 200px;
    height: 40px;
}
.sub button:hover{
    background-color: yellowgreen;
    color: green;
}
.window{
    width: 500px;
    height: 300px;
    text-align: center;
    position: absolute;
    border: 2px solid black;
    top: 50%;
    left: 50%;
    margin: -230px 0 0 -300px;
    background: ghostwhite;
    box-shadow: #0d365a;
    border-radius: 8px;

}
.window span{
    line-height: 240px;
}
.reset{
    width: 80px;
    height: 40px;
    position: fixed;
    margin-top: 170px;
    margin-left: -170px;
    border-radius: 8px;
    background-color: yellowgreen;;
    color: white;
    font-weight: 400;
}
.window-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

